body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 30px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    color: #333333;
}

.patient-info, .prescription-details {
    margin-bottom: 20px;
}

.patient-info h2, .prescription-details h2 {
    font-size: 1.5em;
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}

.patient-info p, .prescription-details p {
    font-size: 1.1em;
    color: #555555;
    line-height: 1.6em;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    font-size: 1em;
    color: #777777;
}
